.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.Title {
  color: #2196f3;
}

.FormControl {
  align-items: center;
}

.TextField {
  width: 30em;

  @media screen and (max-width: 576px) {
    width: 100%;
  }
}