.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.Title {
  color: #2196f3;
}